{{ form_start(registrationForm) }}
    {# Firstname #}
    <div>
        {{ form_label(registrationForm.firstname) }}
        {{ form_widget(registrationForm.firstname) }}
        {{ form_errors(registrationForm.firstname) }}
    </div>
    {# End firstname #}
    {# Lastname #}
    <div>
        {{ form_label(registrationForm.lastname) }}
        {{ form_widget(registrationForm.lastname) }}
        {{ form_errors(registrationForm.lastname) }}
    </div>
    {# End lastname #}
    {# Email #}
    <div>
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}
    </div>
    {# End email #}
    {# Roles #}
    <div>
        {{ form_label(registrationForm.roles) }}
        {{ form_widget(registrationForm.roles) }}
        {{ form_errors(registrationForm.roles) }}
    </div>
    {# End roles #}
    {# Password #}
    <div>
        {{ form_widget(registrationForm.plainPassword) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>
    {# End password #}
    
    <button class="btn">{{ button_label|default('Valider') }}</button>
{{ form_end(registrationForm) }}