{{ form_start(registrationForm) }}
    {# Firstname #}
    <div id="firstname">
        {{ form_label(registrationForm.firstname) }}
        {{ form_widget(registrationForm.firstname) }}
        {% for errorItem in registrationForm.firstname.vars.errors %}
            <div class="firstname-error text-danger">{{ errorItem.message }}</div>
        {% endfor %}
    </div>
    {# End firstname #}
    {# Lastname #}
    <div id="lastname">
        {{ form_label(registrationForm.lastname) }}
        {{ form_widget(registrationForm.lastname) }}
        {% for errorItem in registrationForm.lastname.vars.errors %}
            <div class="lastname-error text-danger">{{ errorItem.message }}</div>
        {% endfor %}
    </div>
    {# End lastname #}
    {# Email #}
    <div id="email">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
        {% for errorItem in registrationForm.email.vars.errors %}
            <div class="email-error text-danger">{{ errorItem.message }}</div>
        {% endfor %}
    </div>
    {# End email #}
    {# PictureFile #}
    <div id="picturesFile">
        {{ form_label(registrationForm.picturesFile) }}
        {{ form_widget(registrationForm.picturesFile) }}
        {% for errorItem in registrationForm.picturesFile.vars.errors %}
            <div class="picturesFile-error text-danger">{{ errorItem.message }}</div>
        {% endfor %}
    </div>
    {# End picturesFile #}
    {# Roles #}
    <div>
        {{ form_label(registrationForm.roles) }}
        {{ form_widget(registrationForm.roles) }}
        {{ form_errors(registrationForm.roles) }}
    </div>
    {# End roles #}

    {# Password #}
    <div id="password">
        {{ form_label(registrationForm.plainPassword.first) }}
        {{ form_widget(registrationForm.plainPassword.first) }}
        {% for errorItem in registrationForm.plainPassword.first.vars.errors %}
            <div class="password-error text-danger">{{ errorItem.message }}</div>
        {% endfor %}
    </div>
    {# End password #}

    {# Confirm password #}
    <div id="confirm-password">
        {{ form_label(registrationForm.plainPassword.second) }}
        {{ form_widget(registrationForm.plainPassword.second) }}
        {% for errorItem in registrationForm.plainPassword.second.vars.errors %}
            <div class="password-error text-danger">{{ errorItem.message }}</div>
        {% endfor %}
    </div>
    {# End confirm password #}
    
    <button class="btn" value="Valider">{{ button_label|default('Valider') }}</button>
{{ form_end(registrationForm) }}